/* COLORS */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #f6f6f6;
$color-shadow: #dbdbdb;
$gradient: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);

/* OMBRE */
$shadow: 0 2px 8px $color-shadow;

/* AUTRE */
$restaurants: jay, stil, toa, louis;

